{% extends "base.html" %}
{% block body %}
<div class="container-fluid mt-4">
    <form method="GET" action="{{ url_for('index') }}" class="mb-4">
        <!-- Dropdown menu for servers -->
        <div class="form-group">
            <label for="serverSelect">Choose a server:</label>
            <select name="server" class="form-control">
                <option value="ALL" {% if selected_server == "ALL" %}selected{% endif %}>ALL</option>
                <option value="" {% if not selected_server %}selected{% endif %}>Select a server</option>
                {% for server in servers %}
                <option value="{{ server[0] }}" {% if server[0] == selected_server %}selected{% endif %}>{{ server[0] }}</option>
                {% endfor %}

            </select>
        </div>

        <!-- Dropdown menu for owners -->
        <div class="form-group">
            <label for="ownerSelect">Choose an owner:</label>
            <select name="owner" class="form-control">
                <option value="ALL" {% if selected_owner == "ALL" %}selected{% endif %}>ALL</option>
                <option value="" {% if not selected_owner %}selected{% endif %}>Select an owner</option>
                {% for owner in owners %}
                <option value="{{ owner[0] }}" {% if owner[0] == selected_owner %}selected{% endif %}>{{ owner[0] }}</option>
                {% endfor %}

            </select>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>

    <!-- Table -->
    <table class="table table-dark table-success table-striped">
        <thead>
            <tr>
                <th>Server Name</th>
                <th>Drive Path</th>
                <th>Path</th>
                <th>Owner</th>
                <th>Second Owner</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                 <td><input type="checkbox" name="selected_rows" value="{{ item[0] }}"></td>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger mb-2">Выгрузка доступов</button>
    </form>
    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            {% for page_num in pages %}
            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=page_num, server=selected_server, owner=selected_owner) }}">
                {{ page_num }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
