{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
     <!-- Dropdown menu -->
    <div class="dropdown">
        <label for="serverSelect">Choose a server:</label>
        <select id="serverSelect" name="server">
            {% for server in servers %}
            <option value="{{ server }}">{{ server }}</option>
            {% endfor %}
        </select>
    </div>
     <!-- Table -->
    <table class="table table-dark table-success table-striped">
            <tr>
                <th>Server Name</th>
                <th>Drive Path</th>
                <th>Path</th>
                <th>Owner</th>
                <th>Second Owner</th>
                <th>Note</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
            {% endfor %}
        </table>

    <div class="pagination">
    {% for page_num in pages %}
        <a class="{% if page_num == current_page %}active{% endif %}" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
    {% endfor %}
</div>

    </div>
{% endblock %}